<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>dAppStore</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.bitpack.dappstorev1</string>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).auth0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>aventa-black.otf</string>
		<string>aventa-blackitalic.otf</string>
		<string>aventa-bold.otf</string>
		<string>aventa-bolditalic.otf</string>
		<string>aventa-extrabold.otf</string>
		<string>aventa-extrabolditalic.otf</string>
		<string>aventa-extralight.otf</string>
		<string>aventa-extralightitalic.otf</string>
		<string>aventa-italic.otf</string>
		<string>aventa-light.otf</string>
		<string>aventa-lightitalic.otf</string>
		<string>aventa-medium.otf</string>
		<string>aventa-mediumitalic.otf</string>
		<string>aventa-regular.otf</string>
		<string>aventa-semibold.otf</string>
		<string>aventa-semibolditalic.otf</string>
		<string>aventa-thin.otf</string>
		<string>aventa-thinitalic.otf</string>
		<string>aventa-blackitallic.otf</string>
		<string>aventa-bolditallic.otf</string>
		<string>aventa-extrabolditallic.otf</string>
		<string>aventa-extralightitallic.otf</string>
		<string>aventa-itallic.otf</string>
		<string>aventa-lightitallic.otf</string>
		<string>aventa-mediumitallic.otf</string>
		<string>aventa-semibolditallic.otf</string>
		<string>aventa-thinitallic.otf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Totally optional. We might take this permission to accurately send notifications according to where you live</string>
</dict>
</plist>
